node-red/backend
[{"id":"486e6ce3.60d45c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ab3c9df.b0df98","type":"mqtt in","z":"486e6ce3.60d45c","name":"Contact between motes","topic":"iot/contact/produce","qos":"0","datatype":"utf8","broker":"3119572b.5b878","x":220,"y":140,"wires":[["d7b29e44.ed088","b6e0cfa8.5a944"]]},{"id":"d7b29e44.ed088","type":"debug","z":"486e6ce3.60d45c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":280,"wires":[]},{"id":"b6e0cfa8.5a944","type":"function","z":"486e6ce3.60d45c","name":"retrieve_motes","func":"let motes = JSON.parse(msg.payload)\nmsg.payload = motes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":140,"wires":[["8a7c86c.0c6fd78","7dc0305c.f9da8"]]},{"id":"251532a9.f6bee6","type":"mqtt in","z":"486e6ce3.60d45c","name":"event of interest","topic":"iot/event/produce","qos":"0","datatype":"utf8","broker":"3119572b.5b878","x":180,"y":540,"wires":[["a70698d6.4be54","e709f8d1.c9eee8"]]},{"id":"6c0b7c90.dfb5ac","type":"function","z":"486e6ce3.60d45c","name":"retrieve_mote_contacts","func":"let moteId = msg.payload.my_id\nlet list = global.get(moteId)\nlist.forEach(function(mote){\n    msg.topic = \"iot/event/consume/\" + mote \n    msg.payload = \"Event of interest for mote \" + msg.payload\n})\nlist = []\nglobal.set(moteId, list)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":540,"wires":[["859ae9e7.febaa","1ff820e3.0e9b97"]]},{"id":"a70698d6.4be54","type":"debug","z":"486e6ce3.60d45c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":660,"wires":[]},{"id":"8a7c86c.0c6fd78","type":"function","z":"486e6ce3.60d45c","name":"save_contact","func":"let mote1 = msg.payload.my_id\nlet mote2 = msg.payload.other_id\nlet contact_list = global.get(mote1)\nif(!contact_list){\n    contact_list = [mote2]\n}else{\n    if(!contact_list.find(mote2)){\n        contact_list.append(mote2)\n    }\n}\nglobal.set(mote1, contact_list)\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":140,"wires":[[]]},{"id":"859ae9e7.febaa","type":"mqtt out","z":"486e6ce3.60d45c","name":"notify_event_of_interest","topic":"","qos":"0","retain":"","broker":"3119572b.5b878","x":1090,"y":540,"wires":[]},{"id":"e709f8d1.c9eee8","type":"function","z":"486e6ce3.60d45c","name":"retrieve_mote","func":"let mote = JSON.parse(msg.payload)\nmsg.payload = mote;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":540,"wires":[["6c0b7c90.dfb5ac","5c3bfcfc.e331cc"]]},{"id":"1ff820e3.0e9b97","type":"debug","z":"486e6ce3.60d45c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":700,"wires":[]},{"id":"5c3bfcfc.e331cc","type":"debug","z":"486e6ce3.60d45c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":420,"wires":[]},{"id":"7dc0305c.f9da8","type":"debug","z":"486e6ce3.60d45c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":280,"wires":[]},{"id":"f3f196e4.fa37","type":"inject","z":"486e6ce3.60d45c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":420,"wires":[["e103bb86.2941c"]]},{"id":"e103bb86.2941c","type":"function","z":"486e6ce3.60d45c","name":"","func":"msg.payload = \"000200020002\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":480,"wires":[["6c0b7c90.dfb5ac"]]},{"id":"3119572b.5b878","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
