node-red/backend.json
[{"id":"486e6ce3.60d45c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ab3c9df.b0df98","type":"mqtt in","z":"486e6ce3.60d45c","name":"Contact between motes","topic":"iot/contact/produce","qos":"2","datatype":"utf8","broker":"3119572b.5b878","x":160,"y":140,"wires":[["d7b29e44.ed088","b6e0cfa8.5a944"]]},{"id":"d7b29e44.ed088","type":"debug","z":"486e6ce3.60d45c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":280,"wires":[]},{"id":"b6e0cfa8.5a944","type":"function","z":"486e6ce3.60d45c","name":"retrieve_motes","func":"let motes = JSON.parse(msg.payload);\nmsg.payload = motes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":140,"wires":[["7dc0305c.f9da8","e627528b.488d18"]]},{"id":"251532a9.f6bee6","type":"mqtt in","z":"486e6ce3.60d45c","name":"event of interest","topic":"iot/event/produce","qos":"2","datatype":"utf8","broker":"3119572b.5b878","x":160,"y":540,"wires":[["a70698d6.4be54","e709f8d1.c9eee8"]]},{"id":"6c0b7c90.dfb5ac","type":"function","z":"486e6ce3.60d45c","name":"retrieve_mote_contacts","func":"let moteId = msg.payload.my_id;\nlet list = global.get(moteId) || [];\nlist.forEach(function(mote){\n    msg.topic = \"iot/event/consume/\" + mote;\n    msg.payload = \"Event of interest for mote \" + moteId + \"\\nNotifying mote \" + mote;\n    node.send(msg);\n});\n\nlist = [];\nglobal.set(moteId, list);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":540,"wires":[["aed5cb6.20047b8"]]},{"id":"a70698d6.4be54","type":"debug","z":"486e6ce3.60d45c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":680,"wires":[]},{"id":"8a7c86c.0c6fd78","type":"function","z":"486e6ce3.60d45c","name":"save_contact","func":"var motes = msg.payload;\nvar mote1 = motes.my_id;\nvar mote2 = motes.other_id;\nvar contact_list = global.get(mote1);\nif(!contact_list){\n    contact_list = [mote2];\n}else{\n    if(contact_list.indexOf(mote2) === -1){\n        contact_list.push(mote2);\n    }\n}\nmsg.payload = \"mote \" + mote1 + \" is in contact with mote \" + mote2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":140,"wires":[["d7e34cb.c5c603"]]},{"id":"859ae9e7.febaa","type":"mqtt out","z":"486e6ce3.60d45c","name":"notify_event_of_interest","topic":"","qos":"1","retain":"","broker":"3119572b.5b878","x":1210,"y":540,"wires":[]},{"id":"e709f8d1.c9eee8","type":"function","z":"486e6ce3.60d45c","name":"retrieve_mote","func":"let mote = JSON.parse(msg.payload);\nmsg.payload = mote;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":540,"wires":[["6c0b7c90.dfb5ac","5c3bfcfc.e331cc"]]},{"id":"1ff820e3.0e9b97","type":"debug","z":"486e6ce3.60d45c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":700,"wires":[]},{"id":"5c3bfcfc.e331cc","type":"debug","z":"486e6ce3.60d45c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":420,"wires":[]},{"id":"7dc0305c.f9da8","type":"debug","z":"486e6ce3.60d45c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":280,"wires":[]},{"id":"f3f196e4.fa37","type":"inject","z":"486e6ce3.60d45c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":360,"wires":[["e103bb86.2941c"]]},{"id":"e103bb86.2941c","type":"function","z":"486e6ce3.60d45c","name":"","func":"msg.payload = \"000500050005\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":420,"wires":[["6c0b7c90.dfb5ac"]]},{"id":"e627528b.488d18","type":"delay","z":"486e6ce3.60d45c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":140,"wires":[["8a7c86c.0c6fd78"]]},{"id":"aed5cb6.20047b8","type":"delay","z":"486e6ce3.60d45c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":540,"wires":[["1ff820e3.0e9b97","859ae9e7.febaa"]]},{"id":"d7e34cb.c5c603","type":"debug","z":"486e6ce3.60d45c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":260,"wires":[]},{"id":"3119572b.5b878","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
